<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../components/head.ejs") %>
  <meta name="description" content="Explore the events calendar of the Material and Process Simulation Center (MSC) at Caltech.">
  <title>MSC | Events Calendar</title>
</head>

<body>
  <!-- Header Section -->
  <%- include("../components/main-header.ejs") %>

  <!-- Subheader Menu Section -->
  <section class="subheader-menu bg-background-200 p-4">
    <div class="max-w-7xl mx-auto flex justify-start items-center border-b-2 border-primary-500">
      <a href="/events/photos" class="text-black font-semibold text-xl hover:text-primary-600 transition duration-300 mr-8">Group Photos</a>
      <a href="/events/calendar" class="text-primary-600 font-semibold text-xl transition duration-300">Calendar</a>
    </div>
  </section>

  <!-- Calendar Section -->
  <section class="bg-gray-100 py-16">
    <div class="max-w-7xl mx-auto px-6">
      <h2 class="text-2xl font-semibold text-primary-500 mb-6">Calendar</h2>
      <iframe src="https://calendar.google.com/calendar/embed?src=wagoddard3%40gmail.com&ctz=America%2FLos_Angeles" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </section>

  <!-- Footer Section -->
  <%- include("../components/footer.ejs") %>
</body>

</html>