<footer class="bg-accent text-white py-12">
  <div class="container mx-auto grid grid-cols-1 justify-items-center md:grid-cols-4 gap-8 text-center md:text-left">
    <!-- Logo -->
    <div>
      <img src="/img/logo.svg" alt="MSC Logo" class="mx-auto md:mx-0 h-16">
    </div>

    <!-- Navigation -->
    <div>
      <h3 class="text-lg font-semibold mb-4">Location</h3>
      <p>Beckman Institute (BI)</p>
      <p>1200 E California Blvd</p>
      <p>Pasadena, CA 91125</p>
      <p>Caltech</p>
    </div>

    <!-- Contact -->
    <div>
      <h3 class="text-lg font-semibold mb-4">Contact Us</h3>
      <p><a href="mailto:wagoddard3@gmail.com" class="underline hover:text-gray-200">wagoddard3@gmail.com</a></p>
      <p><a href="mailto:wag@caltech.edu" class="underline hover:text-gray-200">wag@caltech.edu</a></p>
    </div>

    <!-- Copyright -->
    <div>
      <h3 class="text-lg font-semibold mb-4">Copyright</h3>
      <p>Copyright © 2024 - <%= new Date().getFullYear() %></p>
      <p>Goddard Group | Caltech</p>
      <p>
        <a href="https://github.com/caltechmsc/site" class="underline hover:text-gray-200">View source code on GitHub</a>
      </p>
    </div>
  </div>
</footer>